.form-nav {
  &--wrapper {
    ul {
      @apply absolute top-0 left-0 w-full flex justify-between items-center px-4 py-2;
      li {
        @apply relative text-center pt-2 text-opacity-50 text-black font-normal cursor-pointer hover:text-opacity-100 transition transition-all;
        &:after {
          content: '';
          // @apply block w-4 h-4 bg-main absolute left-[50%] -top-4  rounded-2xl origin-top;
          transform: translateX(-50%);
        }
      }

      li.active {
        @apply top-[2px] pt-1 text-opacity-100;
        &:before {
          content: '';
          @apply block w-5 h-5 bg-white absolute left-[50%] -top-[22px] 
          rounded-full origin-top outline outline-[2px] outline-main;
          transform: translateX(-50%);
        }
        &:after {
          content: '';
          @apply block w-4 h-4 bg-main absolute left-[50%] -top-5  rounded-2xl origin-top;
          transform: translateX(-50%);
        }
      }
    }
  }
}
